# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 项目特定文件
*.mp4
*.mp3
output*/
temp_*
resource/videos/*
resource/sounds/*

# 系统文件
.DS_Store
.idea/
.vscode/